
.card_section {
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.card {
    background-color: black;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.botonrojo
{
    background-color: red;
    border: white 2px solid;
    cursor: pointer;

&:hover{
    color: red;
    background: white;
    border: red 2px solid;
}
}

.texto {
    position: relative;
    animation-name: moveToRight;
    animation-duration: 3s;
  }

  .sombra {
    box-shadow: 0.1px 0.1px 1px;
  }
