.animacionescala {
    transition: 1s;

    &:hover {
        transform: scale(1.05);
    }
}

.animacionescala2 {
    transition: 1s;

    &:hover {
        transform: scale(1.2);
    }
}


.backnegro {
    background-color: black;
}

.backrojo {
    background-color: red;
}

.backgris {
    background-color: rgb(17, 15, 15);
}

.sombra_texto
{text-shadow: 5px 2px 30px;}

