.ff-candal {
    font-family: "candal", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');

* {
    font-family: 'Candal', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo_sombra {
    text-shadow: 20px 15px 7px;
}

.sombra_texto
{text-shadow: 5px 2px 30px;}

